*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --_hue: 250;

    --bg--light: var(--_hue) 30% 94%;
    --txt--light: var(--_hue) 40% 5%;
    --accent--light: var(--_hue) 55% 50%;
    --muted--light: var(--_hue) 30% 99%;

    --bg--dark: var(--_hue) 15% 10%;
    --txt--dark: var(--_hue) 30% 88%;
    --accent--dark: var(--_hue) 50% 50%;
    --muted--dark: var(--_hue) 20% 4%;

    --bg: var(--bg--light);   
    --txt: var(--txt--light); 
    --accent: var(--accent--light);
    --muted: var(--muted--light);
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--bg--dark);
        --txt: var(--txt--dark);
        --accent: var(--accent--dark);
        --muted: var(--muted--dark);
        color-scheme: dark;
    }
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-block: 1.2rem;
    background-color: transparent;
    transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

nav.active {
    background-color: var(--bg--dark);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    color: var(--accent);
    margin-inline: 0.5rem;
    width: clamp(2.5rem, 8vw, 6.5rem);
    display: flex;
    place-items: center;
}

.logo-link:focus-visible,
.nav-link:focus-visible {
    outline: 4px solid var(--accent);
    outline-offset: 0.2em;
    border-radius: 0.5rem;
}


.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    transform: translate3d(0, -200%, 0);
    position: absolute;
    z-index: -1;
    top: 3rem;
    left: 0;
    right: 0;
    background-color: var(--bg--dark);
    padding: 1.5rem;
    border-bottom:4px solid var(--accent);
    text-align: center;

}

.nav-links.activated{
    transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87)
}

.btn {
    color: var(--txt);
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn--accent {
    background-color: var(--accent);
    padding: 0.3rem 2rem;
}
.btn--menu{
    color: var(--accent);
    background-color: transparent;
    border: none;
    display: grid;
    place-content: center;
    padding-inline: 1rem;
    transition: transform 0.3s cubic-bezier(0.64 0.04 0.26 0.87);
}

li[role="none"],
    .nav-link {
        width: 100%;
        display: block;
        font-size: 1.2rem;
        text-transform: uppercase; 
}

.btn--menu[aria-expanded="true"] {
    transform: rotate(180deg);
}

.btn--menu[aria-expanded="true"] + .nav-links{
    transform: translate3d(0, 0, 0);
}


@media (min-width: 768px) {
    .btn--menu {
        display: none;
    }

    .nav-links {
        position: static;
        transform: translate3d(0, 0, 0);
        flex-direction: row;
        border: 0;
        z-index: 0;
        padding: 0;
        inset: 0;
        background-color: transparent;
    }

    li[role="none"],
    .nav-link {
        width: initial;
    }
}