*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    font: inherit;
    border: none;
    cursor: pointer;
}
input, label{
    font: inherit;
}

:root{
    --_hue: 240;
    --_size: 2rem;
    --_radius: .2em;
    --_tspeed_fast: 150ms;
    --_tspeed_slow: 450ms;
    --_ttype_squish: cubic-bezier(0.86,-0.1, 0.27, 1.15);

    --bg--light: var(--_hue) 30% 94%;
    --txt--light: var(--_hue) 40% 5%;
    --accent--light: var(--_hue) 55% 50%;
    --muted--light: var(--_hue) 30% 99%;

    --bg--dark: var(--_hue) 15% 10%;
    --txt--dark: var(--_hue) 30% 88%;
    --accent--dark: var(--_hue) 50% 50%;
    --muted--dark: var(--_hue) 20% 4%;

    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --muted: var(--muted--light);
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root{
        --bg: var(--bg--dark);
        --txt: var(--txt--dark);
        --accent: var(--accent--dark);
        --muted: var(--muted--dark);
        color-scheme: dark;
    }
}


.list_body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(var(--bg));
    color: hsl(var(--txr));
}


h1{
    font-size: calc(var(--_size) * 1.3);
}


.container{
    margin-inline: max(calc((100vw - 70rem) / 2), 1.5rem);
    display: grid;
    gap: 1.5vmax;
    text-align: center;
}

form{
    display: grid;
    gap: .8em;
    max-width: calc(var(--_size) * 20);
    font-size: var(--_size);
    text-align: left;
    padding-block: .5em;


}

.input-wrapper{
    position: relative;
    display: grid;
    gap: .2em;
    margin-block-start: .6em;
}

.form-label{
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .05em;
    margin-inline: .45em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .1em .35em;
    background-color: hsl(var(--mutted));
    transition: 
    transform var(--_tspeed_fast) var(--_tttype_squish),
    background-color var(--_tspeed_fast) var(--_tttype_squish);
    display: none;

}


.form-inputs{
    border: none;
    border-radius: var(--_radius);
    padding: .35em .55em;
    width: 100%;
    background-color: hsl(var(--muted));
}
.form-inputs::placeholder{
    opacity: 0;
}